<h1>beers</h1>

{{#each beers}}
<div >
    {{> beerPartial}}

    {{!-- <div><img src="{{this.image_url}}" alt=""></div>
    {{this.name}} 
    {{this.description}}
    {{this.tagline}}  --}}
    
{{/each}}
